@model InventoryStudio.Models.OrderManagement.SalesOrderLine.CreateSalesOrderLineViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalesOrderLine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalesOrderId" class="control-label"></label>
                <select asp-for="SalesOrderId" class="form-control" asp-items="ViewBag.SalesOrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ParentSalesOrderLineId" class="control-label"></label>
                <select asp-for="ParentSalesOrderLineId" class="form-control" asp-items="ViewBag.ParentSalesOrderLineId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ItemSku" class="control-label"></label>
                <input asp-for="ItemSku" class="form-control" />
                <span asp-validation-for="ItemSku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemImageUrl" class="control-label"></label>
                <input asp-for="ItemImageUrl" class="form-control" />
                <span asp-validation-for="ItemImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemUpc" class="control-label"></label>
                <input asp-for="ItemUpc" class="form-control" />
                <span asp-validation-for="ItemUpc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityCommitted" class="control-label"></label>
                <input asp-for="QuantityCommitted" class="form-control" />
                <span asp-validation-for="QuantityCommitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityShipped" class="control-label"></label>
                <input asp-for="QuantityShipped" class="form-control" />
                <span asp-validation-for="QuantityShipped" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemUnitId" class="control-label"></label>
                <input asp-for="ItemUnitId" class="form-control" />
                <span asp-validation-for="ItemUnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxRate" class="control-label"></label>
                <input asp-for="TaxRate" class="form-control" />
                <span asp-validation-for="TaxRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalId" class="control-label"></label>
                <input asp-for="ExternalId" class="form-control" />
                <span asp-validation-for="ExternalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
