@using Newtonsoft.Json
@model List<AuditData>

@{
    ViewData["Title"] = "System Log";
    var auditData = JsonConvert.SerializeObject(Model);
}


<div class="bg-gray-200 py-2 px-3 rounded mb-4">
    <h6 class="mb-0">System Log</h6>
</div>

<div class="h-100 w-100">
    <ejs-grid id="GridSystemAudit"  dataSource="@auditData" toolbarClick="systemAuditToolbarClick" detailTemplate="#detailtemplate" allowPaging="true" allowSorting="true" allowFiltering="true" enableStickyHeader="true" width="100%" height="100%"
              allowExcelExport="true" allowPdfExport="true" toolbar="@(new List<string>() { "PdfExport", "ExcelExport" })">

        <e-grid-filterSettings type="Excel" mode="OnEnter"></e-grid-filterSettings>
        @* <e-grid-pagesettings pageCount="5"></e-grid-pagesettings> *@
        <e-grid-columns>
            <e-grid-column field="UserName" headerText="Username" width="120"></e-grid-column>
            <e-grid-column field="Type" headerText="Type" width="120"></e-grid-column>
            <e-grid-column field="CreatedOn" headerText="Created On" type="datetime" format="M/d/yyyy h:mm a" width="120"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script type="text/x-template" id="detailtemplate">
    <div class="mt-4 mx-6 w-100">
        <pre>${ChangedValue}</pre>
    </div>

</script>

<script src="@Url.Content("~/js/utils/utils.js")"></script>
<!-- Javascript logic for datagrid -->
<script lang="js">
    const systemAuditToolbarClick = customExportToolbarClick("GridSystemAudit", `IS_Item_SystemAudit`);
</script>