@model List<AspNetRoles>

<div class="container-fluid py-4">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Select a Role</div>
        </div>
        <div class="card-body">
            @if (Model.Any())
            {
                <ul class="list-group">
                    @foreach (var role in Model)
                    {
                        <li class="list-group-item">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fs-6">@role.Name</span>
                                <form asp-action="SwitchRole" asp-controller="Account" method="post" style="display: inline-block;">
                                    <input type="hidden" name="roleId" value="@role.Id"/>
                                    <button class="btn btn-sm btn-primary" type="submit">Switch</button>
                                </form>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No role found for the user.</p>
            }
        </div>
    </div>
</div>