@model InventoryStudio.Models.OrderManagement.Customer.CreateCustomerViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid py-4">
    <div class="card custom-card">
        <div class="card-header hstack justify-content-between align-items-center">
            <div class="card-title">Create Customer</div>
            <div>
                <a class="btn btn-sm btn-light" asp-controller="Customer" asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <form class="row" asp-controller="Customer" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="ClientID" class="form-label"></label>
                    <select asp-for="ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="CompanyName" class="form-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="EmailAddress" class="form-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="ExternalID" class="form-label"></label>
                    <input asp-for="ExternalID" class="form-control" />
                    <span asp-validation-for="ExternalID" class="text-danger"></span>
                </div>
                <div class="form-group col-12">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}