<footer class="footer mt-auto py-3 bg-white text-center sticky">
    <div class="container">
        <span class="text-muted">
            Copyright © <span id="year"></span>
            <a asp-controller="Home" asp-action="Index" class="text-dark fw-semibold">
                Inventory
                Studio
            </a>.
            All
            rights
            reserved
        </span>
    </div>
</footer>

<script lang="js">
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>