@model InventoryStudio.Models.OrderManagement.SalesOrder.EditSalesOrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SalesOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalesOrderId" />
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ponumber" class="control-label"></label>
                <input asp-for="Ponumber" class="form-control" />
                <span asp-validation-for="Ponumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranDate" class="control-label"></label>
                <input asp-for="TranDate" class="form-control" />
                <span asp-validation-for="TranDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillToAddressId" class="control-label"></label>
                <select asp-for="BillToAddressId" class="form-control" asp-items="ViewBag.BillToAddressId"></select>
                <span asp-validation-for="BillToAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToAddressId" class="control-label"></label>
                <select asp-for="ShipToAddressId" class="form-control" asp-items="ViewBag.ShipToAddressId"></select>
                <span asp-validation-for="ShipToAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAmount" class="control-label"></label>
                <input asp-for="ShippingAmount" class="form-control" />
                <span asp-validation-for="ShippingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingTaxAmount" class="control-label"></label>
                <input asp-for="ShippingTaxAmount" class="form-control" />
                <span asp-validation-for="ShippingTaxAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTaxAmount" class="control-label"></label>
                <input asp-for="ItemTaxAmount" class="form-control" />
                <span asp-validation-for="ItemTaxAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountAmount" class="control-label"></label>
                <input asp-for="DiscountAmount" class="form-control" />
                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesSource" class="control-label"></label>
                <input asp-for="SalesSource" class="form-control" />
                <span asp-validation-for="SalesSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingMethod" class="control-label"></label>
                <input asp-for="ShippingMethod" class="form-control" />
                <span asp-validation-for="ShippingMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCarrier" class="control-label"></label>
                <input asp-for="ShippingCarrier" class="form-control" />
                <span asp-validation-for="ShippingCarrier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPackage" class="control-label"></label>
                <input asp-for="ShippingPackage" class="form-control" />
                <span asp-validation-for="ShippingPackage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingServiceCode" class="control-label"></label>
                <input asp-for="ShippingServiceCode" class="form-control" />
                <span asp-validation-for="ShippingServiceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipFrom" class="control-label"></label>
                <input asp-for="ShipFrom" class="form-control" />
                <span asp-validation-for="ShipFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipTo" class="control-label"></label>
                <input asp-for="ShipTo" class="form-control" />
                <span asp-validation-for="ShipTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsClosed" /> @Html.DisplayNameFor(model => model.IsClosed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ExternalId" class="control-label"></label>
                <input asp-for="ExternalId" class="form-control" />
                <span asp-validation-for="ExternalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternalNote" class="control-label"></label>
                <input asp-for="InternalNote" class="form-control" />
                <span asp-validation-for="InternalNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerNote" class="control-label"></label>
                <input asp-for="CustomerNote" class="form-control" />
                <span asp-validation-for="CustomerNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiftMessage" class="control-label"></label>
                <input asp-for="GiftMessage" class="form-control" />
                <span asp-validation-for="GiftMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabelMessage" class="control-label"></label>
                <input asp-for="LabelMessage" class="form-control" />
                <span asp-validation-for="LabelMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNumber" class="control-label"></label>
                <input asp-for="ReferenceNumber" class="form-control" />
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SignatureRequired" /> @Html.DisplayNameFor(model => model.SignatureRequired)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ShopifyOrderId" class="control-label"></label>
                <input asp-for="ShopifyOrderId" class="form-control" />
                <span asp-validation-for="ShopifyOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
