@model AssignUsersViewModel

<h4>Assign Users to Role</h4>

<h6>Role: @Model.RoleName</h6>

<form class="row mt-4" asp-controller="Role" asp-action="AssignUsers" method="post">
    <input type="hidden" asp-for="RoleId"/>
    <div class="form-group mb-3">
        <label class="form-label">Select Users</label>
        @foreach (var user in Model.Users)
        {
            var isChecked = Model.AssignedUserIds.Contains(user.Id);
            <div class="form-check">
                <input type="checkbox" id="user-@user.Id" name="SelectedUserIds" value="@user.Id" @(isChecked ? "checked" : "")/>

                <label>@user.Email</label>
            </div>
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Assign Users" class="btn btn-primary"/>
    </div>
</form>