@{
    ViewData["Title"] = "Create Role";
}

<div class="container-fluid py-4">
    <div class="card custom-card">

        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="card-title">
                Create Role
            </div>
            <div>
                <a asp-controller="Role" asp-action="Index" class="btn btn-sm btn-light">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <form class="row" asp-controller="Role" asp-action="Create" method="post">
                <div class="form-group col-md-6 mb-3">
                    <label class="form-label" for="roleName">Role Name</label>
                    <input type="text" class="form-control" id="roleName" name="roleName"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}