@model List<AspNetRoles>

@{
    ViewData["Title"] = "All Roles";
}

<div class="container-fluid py-4 h-100">
    <div class="card custom-card h-100">
        <div class="card-header hstack align-items-center justify-content-between">
            <div class="card-title">
                Role Management
            </div>
            <div class="btn-list mt-md-0 mt-2">
                <a asp-controller="Role" asp-action="Create" type="button" class="btn btn-sm btn-primary btn-wave hstack align-items-center" aria-label="Create user button">
                    <i class="bi-plus me-2 align-middle d-inline-block fs-16"></i>Create Role
                </a>
            </div>
        </div>
        <div class="card-body">
            <ejs-grid id="Grid" class="h-100" allowPaging="true" allowReordering="true" allowSorting="true" toolbarClick="toolbarClick" allowSelection="true" allowFiltering="true" enableStickyHeader="true" width="100%" height="100%"
                      allowExcelExport="true" allowPdfExport="true" toolbar="@(new List<string>() { "Delete", "PdfExport", "ExcelExport" })">

                <e-grid-editSettings showDeleteConfirmDialog="true" allowDeleting="true">
                </e-grid-editSettings>
                <e-grid-filterSettings type="Excel" mode="OnEnter"></e-grid-filterSettings>
                <e-data-manager url="/Role/UrlDatasource" adaptor="UrlAdaptor" insertUrl="/Role/Insert"
                                updateUrl="/Role/Update" removeUrl="/Role/Remove">
                </e-data-manager>
                @* <e-grid-pagesettings pageCount="5"></e-grid-pagesettings> *@
                <e-grid-columns>
                    <e-grid-column visible="false" field="Id" headerText="ID" type="int" isPrimaryKey="true"
                                   validationRules="@(new { number = true })" width="80">
                    </e-grid-column>
                    <e-grid-column field="Name" headerText="Name"></e-grid-column>
                    <e-grid-column headerText="Actions" template="#actions" width="100" maxWidth="100"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>

<!-- Actions template -->
<script id="actions" type="text/x-template">
    <div class="hstack gap-2">
        <a href="/Role/Edit?id=${Id}" class="btn btn-icon btn-warning-light" data-bs-toggle="tooltip" title="Edit user" aria-label="Edit user button">
            <i class="bi-pencil-fill"></i>
        </a>
    </div>
</script>


<script src="@Url.Content("~/js/utils/utils.js")"></script>

<!-- Javascript logic for datagrid -->
<script lang="js">
    const toolbarClick = customExportToolbarClick("Grid", "IS_Roles");
</script>

@section Scripts {
    <script>
        function confirmDelete(roleName) {
            return confirm(`Are you sure you want to delete the role '${roleName}'?`);
        }
    </script>
}