@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row justify-content-center align-items-center authentication authentication-basic h-100">
    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
        <div class="my-5 d-flex justify-content-center">
            <a href="index.html">
                <img src="@Url.Content("~/assets/images/logos/logo-icon.png")" alt="logo" class="desktop-logo">
            </a>
        </div>
        <div class="card custom-card">
            <form  method="post">
                <div class="card-body p-5">
                    <p class="h5 fw-semibold mb-2 text-center">Enter your email</p>        
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row gy-3">
                        <div class="col-xl-12">

                            <label asp-for="Input.Email" class="form-label text-default"></label>
                            <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />

                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                    
                        <div class="col-xl-12 d-grid mt-2">
                            <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Reset Password</button>
                        </div>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
