@model InventoryStudio.Models.Account.CreateUserViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid py-4">
    <div class="card custom-card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="card-title">
                Create User
            </div>
            <div>
                <a asp-controller="User" asp-action="Index" class="btn btn-sm btn-secondary">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <form class="row gap-3" asp-controller="User" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-6 ">
                    <label asp-for="UserName" class="form-label">User Name</label>
                    <input asp-for="UserName" class="form-control" aria-label="User Name" required/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 ">
                    <label asp-for="Status" class="form-label"></label>
                    <select class="form-select" asp-for="Status" asp-items="Model.StatusOptions" required></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 ">
                    <label asp-for="Email" class="form-label">E-mail</label>
                    <input asp-for="Email" class="form-control" aria-label="Email" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 ">
                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" aria-label="Phone number" required/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 ">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" type="password" aria-label="Password" required/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}