@model InventoryStudio.Models.ViewModels.UserIndexViewModel

@{
    ViewData["Title"] = "User Management";
}


<div class="container-fluid pb-4">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <div>
            <h2 class="fw-semibold mb-0">User Management</h2>
        </div>

        <div class="btn-list mt-md-0 mt-2">
            <a asp-action="Create" type="button" class="btn btn-primary btn-wave d-flex align-items-center">
                <i class="ri-user-add-fill me-2 align-middle d-inline-block fs-16"></i>Create User
            </a>
        </div>
    </div>


    <ejs-grid id="Grid" allowPaging="true" allowReordering="true" allowSorting="true" allowSelection="true" allowFiltering="true" enableStickyHeader="true" width="100%" height="auto"
              allowExcelExport="true" allowPdfExport="true">

        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" showDeleteConfirmDialog="true"
                             mode="Batch">
        </e-grid-editSettings>
        <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
        <e-data-manager url="/User/UrlDataSource" adaptor="UrlAdaptor">
        </e-data-manager>
        <e-grid-columns>
            <e-grid-column field="Id" headerText="ID" type="int" isPrimaryKey="true"
                           validationRules="@(new { number = true })" width="80">
            </e-grid-column>
            <e-grid-column field="UserName" headerText="User Name" width="120"></e-grid-column>
            <e-grid-column field="UserType" headerText="User Type" width="120"></e-grid-column>
            <e-grid-column field="Status" headerText="Status" width="120"></e-grid-column>
            <e-grid-column field="Email" headerText="E-mail" width="120"></e-grid-column>
            <e-grid-column field="PhoneNumber" headerText="Phone Number" width="120"></e-grid-column>
        </e-grid-columns>

    </ejs-grid>
    @* <table class="table"> *@
    @*     <thead> *@
    @*         <tr> *@
    @*             <th>UserName</th> *@
    @*             <th>UserType</th> *@
    @*             <th>Status</th> *@
    @*             <th>Email</th> *@
    @*             <th>PhoneNumber</th> *@
    @*             <th></th> *@
    @*         </tr> *@
    @*     </thead> *@
    @*     <tbody> *@
    @*         *@
    @*             <tr> *@
    @*                *@
    @*                 <td> *@
    @*                     $1$ <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | #1# *@
    @*                     $1$ <a asp-action="Details" asp-route-id="@item.Id">Details</a> | #1# *@
    @*                     $1$ <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> #1# *@
    @*                 </td> *@
    @*             </tr> *@
    @*          *@
    @*     </tbody> *@
    @* </table> *@
    @* <a asp-action="Create">Create New User</a> *@
</div>


<style>
    .e-grid .e-summaryrow .e-summarycell {
        height: 40px;
        background-color: #fff;
    }

    .e-gridpager {
        border-bottom-left-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }

    .e-grid {
        border-radius: 6px !important;
    }

    .e-toolbar {
        border-top-left-radius: 6px !important;
        border-top-right-radius: 6px !important;
    }
</style>